.content {
    border: 5px dotted #A0204C;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentCarrussel {
    width: 350px;
}

.title {
    font-family: 'Mountains of Christmas', cursive;
    color: #A0204C;
}
