
.title {
    font-family: 'Mountains of Christmas', cursive;
    color: #FECEAB;
    margin-bottom: 0;
}

.content {
    border: 5px dotted #FECEAB;
    background-color: white;
    padding: 10px;
}

.subtitle {
    font-family: 'Pacifico', cursive;
    color: #90A17D;
}

.question {
    color: #90A17D;
}

.answer {
    font-weight: bold;
    text-decoration-line: underline;
}

.button {
    padding: 5px 10px;
    background-color: #FFE1E1;
    border: none;
    border-radius: 10px;
    margin: 10px;
}