.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dotted #21BF73;
    background-color: white;
    padding: 10px;
}

.listContent {
    background-color: white;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon {
    width: 20px;
    margin-right: 20px;
}

.title {
    font-family: 'Mountains of Christmas', cursive;
    color: #21BF73;
    margin-bottom: 0;
}

.input {
    margin-right: 20px;
}