.content {
    background-color: white;
    padding: 10px;
    border: 5px dotted #9F8772;
}

.title {
    font-family: 'Mountains of Christmas', cursive;
    color:#9F8772;
}
.button {
    padding: 10px;
    background-color: #9F8772;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}