.content  {
    background-color: white;
    padding: 10px;
    border: 5px dotted #E26868; 
}

.guestListContent {
    background-color: white;
    padding: 8px;
}

.title {
    font-family: 'Mountains of Christmas', cursive;
    color: #E26868;
    margin-bottom: 0;
}

.newGuest {
    font-family: 'Mountains of Christmas', cursive;
    font-weight: bold;
    font-size: 19px;
    margin-right: 21px;

}

.names {
    font-family: 'Pacifico', cursive;
    font-size: 19px;
    color: #61764B;
}

.addNameContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    color: white;
    background-color: #E26868;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    color: #61764B;
    background-color: white;
    border: 1px solid #E26868;
}