.content {
    border: 5px dotted #F7EC09;
    padding: 10px;
    background-color: white;
}
.inputContent {
    margin-top: 20px;
}

.label {
    font-family: 'Mountains of Christmas', cursive;
    color: green;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
}

.labelChecked {
    font-family: 'Mountains of Christmas', cursive;
    color: red;
    font-size: 22px;
    margin-left: 10px;
    text-decoration:line-through;
}

.title {
    font-family: 'Mountains of Christmas', cursive;
    color: #F7EC09;
}

.addBtn {
    background-color: #F7EC09;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}