.content {
    background-color: white;
    border: 5px dotted #A149FA;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Mountains of Christmas', cursive;
    color:#A149FA
}

.lenguagesContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;}

.lenguagesContent {
    background-color:#c18af7;
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
}

.lenguagesEmptyContent {
    background-color: #c18af7;
    padding: 10px;
    border-radius: 15px;
    width: 206px;
}

.text {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    margin: 0;
}