.content {
    border: 5px dotted rgb(70, 197, 70);
    background-color: white;
}

.title {
    font-family: 'Mountains of Christmas', cursive;
    color: rgb(70, 197, 70);
}

.elf {
    background-image: url('../../../public/elfo.png');
    height: 90px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.cookie {
    background-image: url('../../../public/jengibre.png');
    height: 90px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.snowman {
    background-image: url('../../../public/nieve.png');
    height: 90px;
    width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.iconsContent {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.iconAnimtaion {
    animation: icons 2s infinite;
    position: relative;
}

@keyframes icons {
    0% {
        rotate: 0deg;
      }
    50% {
        rotate: 30deg;   
    }
    100% {
        rotate: -30deg;      
    }
}

.radio {
    background-color: #EDEDED;
    border: none;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.radio:focus {
    background-color: #ECB390;
}