.content {
    background-color: rgb(206, 250, 139);
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.letterContent {
    background-color: white;
    width: 400px;
    height: 110px;
    border-radius: 10px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}